# ignore pycahce 
__pycache__/
# ignore venv
venv/
# ignore .env
.env

# ignore .vscode
.vscode/

# ignore expected results, and output folder
expected_results/
output/

# ignore .DS_Store
.DS_Store

# Generated assembler output files
output/PoolTable.txt
output/blockTable.txt
output/out_pass2.txt
output/symbTable.txt